/*!
 * Google Fonts by Google - https://fonts.google.com/specimen/Roboto
 * License - http://www.apache.org/licenses/LICENSE-2.0 (Design: Christian Robertson)
 */
@font-face { //font choice
  font-family: 'Roboto';
  font-style: Regular Italic;
  font-weight: Regular Italic;
  src: url("https://fonts.google.com/specimen/Roboto");
  }

.fab {
  font-family: 'Roboto'; }
